<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="infoLogfile" xsi:type="File" fileName="G:\\ForLogging\\PrinterMonitoringWebService_info.log_${shortdate}"
            layout="===================================================================${newline}${level} ${longdate} Thread: ${threadname} ${threadid} ${newline}${message}" />
    <target name="errorLogfile" xsi:type="File" fileName="G:\\ForLogging\\PrinterMonitoringWebService_error.log_${shortdate}"
            layout="===================================================================${newline}${level} ${longdate} Thread: ${threadname} ${threadid} ${newline}${message}" />
    <target name="debugLogfile" xsi:type="File" fileName="G:\\ForLogging\\PrinterMonitoringWebService_debug.log_${shortdate}"
            layout="===================================================================${newline}${level} ${longdate} Thread: ${threadname} ${threadid} ${newline}${message}" />
  </targets>

  <rules>
    <logger name="*" level="Info" writeTo="infoLogfile" />
    <logger name="*" level="Error" writeTo="errorLogfile" />
    <logger name="*" level="Debug" writeTo="debugLogfile" />
  </rules>
</nlog>