<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
      <behaviors>
        <endpointBehaviors>
          <behavior name="VtecTeam" >
            <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
          </behavior>
        </endpointBehaviors>
      </behaviors>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_IVtecTeamWebService">
                  <binaryMessageEncoding compressionFormat="GZip" />
                  <httpTransport maxReceivedMessageSize="2147483647" decompressionEnabled="true"
                      maxBufferSize="2147483647" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://vtecteam.azurewebsites.net/VtecTeamWebService.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_IVtecTeamWebService"
                contract="VtecTeamService.IVtecTeamWebService" name="CustomBinding_IVtecTeamWebService" />
        </client>
    </system.serviceModel>
</configuration>